/* Ajuste base para ocupar toda la pantalla */
body {
    text-align: center;
    overflow-y: auto;
    height: 100vh;
    width: 100vw;
    margin: 0px;
    font-family: system-ui;
    overflow-x: hidden;
}

/* Panel de contenido */
.panel {
    align-items: center;
    padding: 20px;
}

/* Vista previa de la playera */
.preview {
    text-align: center;
    position: relative;
    flex-grow: 1;
}

#playera {
    height: 680px;
}

#diseno_img {
    position: absolute;
    top: 150px;
    /* left: 89px; */
    width: 300px;
    opacity: 0.8;
    justify-self: anchor-center;
}

div.categorias-disenos div.cat
{
    display: inline-block;
        border: 1px solid silver;
        padding: 3px 7px;
        border-radius: 1vh;
        cursor: pointer;
}
div.categorias-disenos div.cat:hover {
    background-color: #e3d3e3;
}

/* Selector de diseños */
.opciones img {
    width: 100px;
    margin: 10px;
    cursor: pointer;
    border: 2px solid transparent;
    transition: 0.3s;
}

.opciones img:hover {
    border: 2px solid #6a0dad;
}

/* Selector de color de playera */
.colores-playera {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 2vh 0;
}

.color {
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    border: 2px solid #ccc;
    cursor: pointer;
    transition: transform 0.2s;
}

.color:hover {
    transform: scale(1.1);
    border-color: #6a0dad;
}

/* Carrusel de diseños */
.carrusel-diseno {
    display: flex;
    align-items: center;
    justify-content: center;
/*    gap: 10px;*/
    margin: 2vh 0;
}

.contenedor-carrusel {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    max-width: 100%;
    gap: 10px;
    padding: 10px;
}

.contenedor-carrusel img {
    height: 110px;
    /* margin: 0 5px; */
    cursor: pointer;
    transition: transform 0.2s;
}

.contenedor-carrusel img:hover {
    transform: scale(1.1);
}

.carrusel-diseno button {
    color: white;
    border: none;
    padding: 10px;
    font-size: 18px;
    height: 100%;
    width: 5%;
}
.carrusel-diseno button.left {
        background: linear-gradient(90deg, #a179ce00, #e8a5e154);
}
.carrusel-diseno button.right {
        background: linear-gradient(270deg, #a179ce00, #e8a5e154);
}