/* Ajuste base para ocupar toda la pantalla */
body {
    text-align: center;
    overflow-y: auto;
    height: 100vh;
    width: 100vw;
    margin: 0px;
    font-family: system-ui;
    overflow-x: hidden;
}

/* Panel de contenido */
.panel {
    align-items: center;
    padding: 20px;
}

/* Vista previa de la playera */
.preview {
    text-align: center;
    display: flex;
    position: absolute;
    width: 100%;
    /* height: 690px; */
    justify-content: center;
}

#playera {
    height: 55vh;
    position: absolute;
    display: flex;
}

#diseno_img {
    position: absolute;
    top: 12vh;
    width: 22vh;
    opacity: 0.8;
    display: flex;
}

div.categorias-disenos div.cat
{
    display: inline-block;
    border: 1px solid silver;
    padding: 1vh 2vh;
    border-radius: .5vh;
    cursor: pointer;
    font-size: 1.7vh;
    margin-top: .5vh;
}
div.categorias-disenos div.cat.selected,
div.categorias-disenos div.cat.selected:hover
{
    background-color: #b7ae85;
    font-weight: bold;
    border: 2px solid gray;
}
div.categorias-disenos div.cat:hover {
    background-color: #e3d3e3;
}

/* Selector de diseños */
.opciones img {
    width: 100px;
    margin: 10px;
    cursor: pointer;
    border: 2px solid transparent;
    transition: 0.3s;
}

.opciones img:hover {
    border: 2px solid #6a0dad;
}

/* Selector de color de playera */
.colores-playera,
.tallas-playera {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 2vh 0;
}

span.lbl-selection
{
    text-align: left;
    padding: 5px 10px;
    font-size: 1.2vh;
    color: #b7ae85;
    z-index: 10;
    height: fit-content;
    margin-top: 47vh;
    white-space: pre;
}
.color {
    width: 3vh;
    height: 3vh;
    border-radius: 50%;
    border: 2px solid #ccc;
    cursor: pointer;
    transition: transform 0.2s;
}

.color.selected,
.color.selected:hover {
    transform: scale(1.3);
    border: 2px solid #b7ae85;
    background: url("../img/check.png") center/45% no-repeat;
}

.talla.selected,
.talla.selected:hover {
    transform: scale(1.3);
    border: 2px solid gray;
    color: white;
    font-weight: bold;
    background-color: #b7ae85;
}

.talla {
    width: 3vh;
    height: 2.5vh;
    border-radius: 50%;
    border: 2px solid #ccc;
    cursor: pointer;
    transition: transform 0.2s;
    font-size: 1.5vh;
    text-align: center;
    padding-top: .5vh;
}

.color:hover,
.talla:hover {
    transform: scale(1.1);
    border-color: #6a0dad;
}

/* Carrusel de diseños */
.carrusel-diseno {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90vw;
    margin-left: 5vw;
}

.contenedor-carrusel {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    max-width: 86vw;
    gap: 1vh;
    padding: 1vh;
    margin-top: 2vh;
    background-color: whitesmoke;
    margin-left: 5vw;
    border-radius: 2vh;
    padding: 2vh 2vw;
}

.contenedor-carrusel img.diseno {
    padding: 1vh;
    height: 12vh;
    /* margin: 0 5px; */
    cursor: pointer;
    transition: transform 0.2s;
}

.contenedor-carrusel img.diseno.selected {
    transform: scale(1.1);
    border: 2px solid gray;
    cursor: pointer;
    transition: transform 0.2s;
    background-color: #b7ae85;
    border-radius: 1.5vh;
}


.contenedor-carrusel img:hover {
    transform: scale(1.1);
}

.carrusel-diseno button {
    color: white;
    border: none;
    padding: 10px;
    font-size: 18px;
    height: 45px;
    width: 45px;
    border-radius: 10px;
}
.carrusel-diseno button.left {
        background: linear-gradient(90deg, #a179cea3, #e8a5e187);
}
.carrusel-diseno button.right {
        background: linear-gradient(270deg, #a179cea3, #e8a5e187);
}